{% extends "base.html"  %}

{% block body %}
  <core-header-panel>
    <core-toolbar>
      <paper-tabs id="tabs" selected="all" self-end>
        <paper-tab name="all">All</paper-tab>
        <paper-tab name="favorites">Favorites</paper-tab>
      </paper-tabs>
    </core-toolbar>


    <!-- WebSocket Feed -->
    <div class="container" layout vertical center>
    <!-- card feed from WebSocket -->
      <div id="testfeedcards"></div>
    </div>
    <!-- WebSocket Feed -->

  </core-header-panel>

  
  <script>
  var tabs = document.querySelector('paper-tabs');
  var list = document.querySelector('post-list');

  tabs.addEventListener('core-select', function() {
    list.show = tabs.selected;
  });
  </script>
  {% endblock  %}

